<!DOCTYPE html>
<html lang="en">

    <head>
        <title>Yashaswi - YATM Bhopal</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        
        <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700&display=swap" rel="stylesheet">
    
        <link rel="stylesheet" href="css/open-iconic-bootstrap.min.css">
        <link rel="stylesheet" href="css/animate.css">
        
        <link rel="stylesheet" href="css/owl.carousel.min.css">
        <link rel="stylesheet" href="css/owl.theme.default.min.css">
        <link rel="stylesheet" href="css/magnific-popup.css">
    
        <link rel="stylesheet" href="css/aos.css">
    
        <link rel="stylesheet" href="css/ionicons.min.css">
    
        <link rel="stylesheet" href="css/bootstrap-datepicker.css">
        <link rel="stylesheet" href="css/jquery.timepicker.css">
    
        
        <link rel="stylesheet" href="css/flaticon.css">
        <link rel="stylesheet" href="css/icomoon.css">
        <link rel="stylesheet" href="css/style.css">
      </head>
<body>
  <header>
  </header>
  <div class="searchwrap">
    <div class="container">
      <div class="paypackages" style="margin-top: -230px; margin-left:-42px">
        <div class="three-plan">
          <div class="container">

            <ul class="row" style="margin-top:15px; height:0px">
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;   font-size: 14px;">
                    <a href="/jobs" target="_blank" class="applybtn" style="color:black;"> All Recruiters</a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/JobsbyCompany" class="applybtn" target="_blank" style="color:black;">Recruiters by
                      Company</a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/Jobbycategory" class="applybtn" target="_blank" style="color:black;">Recruiters by
                      Category </a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/jobbylocation" class="applybtn" target="_blank" style="color:black;"> Recruiters by
                      Location</a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white;font-size: 14px;">
                    <a href="/jobsbydesignations" class="applybtn" target="_blank" style="color:black;"> Recruiters by
                      Designation </a>
                  </div>
                </div>
              </li>
              <li class="col-md-2 col-sm-6 col-xs-12">
                <div class="boxes">
                  <div class="pricing-table1" style="background: white; font-size: 14px;">
                    <a href="/Jobbyskills" class="applybtn" target="_blank" style="color:black;"> Recruiters by Skills
                    </a>
                  </div>

                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="searchbar row">
        <div class="col-md-5">
            <input type="text" class="form-control skillsearch" placeholder="Enter Skills or job title" />
        </div>
        <div class="col-md-3">
          <select class="form-control" id="ddlCategory">
          </select>
        </div>
        <div class="col-md-2">
          <select class="form-control" id="ddlcity">
          </select>
        </div>
        <div class="col-md-2">
          <input type="submit" class="btn" value="Search Job">
        </div>
      </div>
    </div>
  </div>
  </div>
  </div>
  <div class="listpgWraper">
 <input type="text" id="name_user" name="formadata" ></input>
 <input type="text" id="mobile_user" name="formadata"></input>

 <button>Submit</button>

  </div>
  <footer>
  </footer>
